{% set page_title = 'Yak Tak' %}
{% extends 'layouts/layout_base.html' %}
{% block container %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Yak Tak</h1>

    <p id="msg"></p>

    <table id="board">
      <tbody>
      <tr>
        <td><button id="field-20"></button></td>
        <td><button id="field-21"></button></td>
        <td><button id="field-22"></button></td>
      </tr>

      <tr>
        <td><button id="field-10"></button></td>
        <td><button id="field-11"></button></td>
        <td><button id="field-12"></button></td>
      </tr>

      <tr>
        <td><button id="field-00"></button></td>
        <td><button id="field-01"></button></td>
        <td><button id="field-02"></button></td>
      </tr>
      </tbody>
    </table>

    <div id="controls">
      <button id="reset">Reset</button>
      <button id="skip">Skip Turn</button>
    </div>
  </div>
</div>
{% endblock %}
